<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs Tags</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Current second : <%= seconds %></p>
    <% if (seconds % 2 === 0) { %> <% for(let i of items) { %>
    <li><%= i %></li>
    <% } } else { %>
    <p>Its odd</p>
    <% } %> <%- html %> <%- include('footer.ejs') %>
  </body>
</html>
